.home-section.bg-image {
  background-position: top;
  background-repeat: repeat-x;
}

mjx-container[display="true"] {
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  width: fit-content;
  max-width: 100%;
  overflow-y: hidden;
  margin: 1rem auto;
}
