.home-section.bg-image {
  background-position: top;
  background-repeat: repeat-x;
}

mjx-container[display="true"] {
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  display: table;
  width: auto;
  margin: 1rem auto;
  overflow-y: hidden;
}
